In [1]:
## read data

In [98]:
import pandas as pd
from torch.utils.data import Dataset, DataLoader
import torch
from torch import nn, optim
df_ratings = pd.read_csv("./processed_data/rating_data.csv")
df_users = pd.read_csv("./processed_data/users_data.csv")
df_items = pd.read_csv("./processed_data/movies_data.csv")

In [99]:
def combine_genres(df):
    # List all columns that are genres (assuming all except 'movie id', 'movie title', etc. are genre columns)
    genre_columns = df.columns.difference(['movie id', 'movie title', 'release date', 'video release date', 'IMDb URL'])
    # Define a function to combine genres into a single string
    def get_genre_list(row):
        genres = [col for col in genre_columns if row[col] == 1]
        return ', '.join(genres) if genres else 'Unknown'
    # Create a new column 'genres' by applying the get_genre_list function to each row
    df['genres'] = df.apply(get_genre_list, axis=1)
    # Drop the original genre columns
    df = df.drop(columns=genre_columns)

    return df
# Apply the function to the movies dataframe
df_items = combine_genres(df_items)

# Display the updated dataframe to check the new 'genres' column
df_items.head()

,movie id,movie title,release date,video release date,IMDb URL,genres
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"Animation, Children's, Comedy"
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,"Action, Adventure, Thriller"
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,Thriller
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"Action, Comedy, Drama"
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),"Crime, Drama, Thriller"

In [7]:
# create custome data

In [71]:
class MovieLensDataset(Dataset):
    def __init__(self, users, movies, ratings):
        self.users = users
        self.movies = movies
        self.ratings = ratings

    def __len__(self):
        return len(self.users)

    def __getitem__(self, item):
        users = self.users[item]
        movies = self.movies[item]
        ratings = self.ratings[item]
        return {
            "users": torch.tensor(users, dtype=torch.long),
            "movies": torch.tensor(movies, dtype=torch.long),
            "ratings": torch.tensor(ratings, dtype=torch.float),
        }

In [73]:


import torch
from torch import nn

class RatingScaler(nn.Module):
  def __init__(self):
    super(RatingScaler, self).__init__()

  def forward(self, x):
    return torch.clamp(x, min=0.0, max=5.0)

class RecommendationSystemModel(nn.Module):
    def __init__(
        self,
        num_users,
        num_movies,
        embedding_size=256,
        hidden_dim=256,
        dropout_rate=0.2,
    ):
        super(RecommendationSystemModel, self).__init__()
        self.num_users = num_users
        self.num_movies = num_movies
        self.embedding_size = embedding_size
        self.hidden_dim = hidden_dim
        self.user_embedding = nn.Embedding(
            num_embeddings=self.num_users, embedding_dim=self.embedding_size
        )
        self.movie_embedding = nn.Embedding(
            num_embeddings=self.num_movies, embedding_dim=self.embedding_size
        )
        self.fc1 = nn.Linear(2 * self.embedding_size, self.hidden_dim)
        self.fc2 = nn.Linear(self.hidden_dim, 1)
        self.dropout = nn.Dropout(p=dropout_rate)
        self.relu = nn.ReLU()
        self.rating_scaler = RatingScaler()

    def forward(self, users, movies):
        user_embedded = self.user_embedding(users)
        movie_embedded = self.movie_embedding(movies)
        combined = torch.cat([user_embedded, movie_embedded], dim=1)

        x = self.relu(self.fc1(combined))
        x = self.dropout(x)
        output = self.fc2(x)
        output = self.rating_scaler(output)

        return output
    def recommend_top_5(self, user_id, all_movie_ids, device='cpu'):
        user_tensor = torch.tensor([user_id] * len(all_movie_ids), dtype=torch.long).to(device)
        movie_tensor = torch.tensor(all_movie_ids, dtype=torch.long).to(device)

        self.eval()
        with torch.no_grad():
            predicted_ratings = self.forward(user_tensor, movie_tensor).squeeze(1)

        top_5_ratings, top_5_movie_indices = torch.topk(predicted_ratings, k=5)
        top_5_movie_ids = [all_movie_ids[i] for i in top_5_movie_indices.cpu().numpy()]
        return top_5_movie_ids

In [10]:

from collections import defaultdict
from tqdm import tqdm

def train_model(model, train_loader, val_loader, num_epochs, k=50, threshold=3, lr=0.001, device='cuda'):
    model.to(device)
    criterion = nn.MSELoss()
    optimizer = optim.Adam(model.parameters(), lr=lr)

    for epoch in range(num_epochs):
        model.train()
        running_loss = 0.0

        with tqdm(total=len(train_loader), desc=f"Epoch {epoch+1}/{num_epochs}", unit="batch") as pbar:
            for batch in train_loader:
                users = batch['users'].to(device)
                movies = batch['movies'].to(device)
                ratings = batch['ratings'].to(device)

                optimizer.zero_grad()
                outputs = model(users, movies).squeeze(1)
                loss = criterion(outputs, ratings)

                loss.backward()
                optimizer.step()

                running_loss += loss.item() * len(users)
                pbar.set_postfix(loss=running_loss / len(train_loader.dataset))
                pbar.update(1)

        precision, recall = validate_model(model, val_loader, k, threshold, device)
        print(f"Validation Precision@{k}: {precision:.4f}, Recall@{k}: {recall:.4f}")

    print("Training complete.")

def calculate_precision_recall(user_ratings, k, threshold):
    user_ratings.sort(key=lambda x: x[0], reverse=True)
    n_rel = sum(true_r >= threshold for _, true_r in user_ratings)
    n_rec_k = sum(est >= threshold for est, _ in user_ratings[:k])
    n_rel_and_rec_k = sum((true_r >= threshold) and (est >= threshold) for est, true_r in user_ratings[:k])

    precision = n_rel_and_rec_k / n_rec_k if n_rec_k != 0 else 1
    recall = n_rel_and_rec_k / n_rel if n_rel != 0 else 1
    return precision, recall

def validate_model(model, val_loader, k, threshold, device='cpu'):
    model.eval()
    user_ratings_comparison = defaultdict(list)

    with torch.no_grad():
        for valid_data in val_loader:
            users = valid_data["users"].to(device)
            movies = valid_data["movies"].to(device)
            ratings = valid_data["ratings"].to(device)
            output = model(users, movies)

            for user, pred, true in zip(users, output, ratings):
                user_ratings_comparison[user.item()].append((pred[0].item(), true.item()))

    user_precisions = dict()
    user_based_recalls = dict()

    for user_id, user_ratings in user_ratings_comparison.items():
        precision, recall = calculate_precision_recall(user_ratings, k, threshold)
        user_precisions[user_id] = precision
        user_based_recalls[user_id] = recall

    average_precision = sum(prec for prec in user_precisions.values()) / len(user_precisions)
    average_recall = sum(rec for rec in user_based_recalls.values()) / len(user_based_recalls)

    return average_precision, average_recall

In [74]:
# Data Preparation
def prepare_data(df_ratings, batch_size=16,shuffle=True):
    df_ratings['user_id'] = df_ratings['user_id'] - 1
    df_ratings['item_id'] = df_ratings['item_id'] - 1
    users = df_ratings['user_id'].values
    movies = df_ratings['item_id'].values
    ratings = df_ratings['rating'].values
    dataset = MovieLensDataset(users, movies, ratings)
    data_loader = DataLoader(dataset, batch_size=batch_size, shuffle=shuffle)
    return data_loader

In [75]:
from sklearn import model_selection
df_train, df_val = model_selection.train_test_split(
    df_ratings, test_size=0.1, random_state=3, stratify=df_ratings.rating.values
)

In [76]:
train_loader = prepare_data(df_train,batch_size=64)
val_loader = prepare_data(df_val,batch_size=1,shuffle=False)

In [77]:
num_users = df_users['user_id'].nunique()
num_movies = df_items["movie id"].nunique()
model = RecommendationSystemModel(num_users=num_users, num_movies=num_movies)

In [ ]:
train_model(model, train_loader, val_loader, num_epochs=10, k=50, threshold=3, lr=0.001)

In [78]:
weights = torch.load("models/recommendation_model.pth")
model.load_state_dict(weights)

In [19]:
model

RecommendationSystemModel(
  (user_embedding): Embedding(943, 256)
  (movie_embedding): Embedding(1682, 256)
  (fc1): Linear(in_features=512, out_features=256, bias=True)
  (fc2): Linear(in_features=256, out_features=1, bias=True)
  (dropout): Dropout(p=0.2, inplace=False)
  (relu): ReLU()
  (rating_scaler): RatingScaler()
)

In [79]:
# prompt: recommend 10 movies for the user id or user name return with user details, movie details as dict 

def recommend_movies_for_user_with_details(model, user_id, df_users, df_movies, top_k=5, device='cpu'):
    """
    Recommend top K movies for a given user ID with user and movie details.
    :param model: Trained recommendation model
    :param user_id: ID of the user to predict for
    :param df_users: DataFrame containing user data
    :param df_movies: DataFrame containing movie data
    :param top_k: Number of top recommendations to return
    :param device: 'cpu' or 'cuda', where the model is located
    :return: Dictionary containing user details, movie details and recommendation scores
    """
    model.to(device)
    model.eval()

    all_movie_ids = df_movies['movie id'].unique()
    all_movie_ids = all_movie_ids - 1
    user_tensor = torch.tensor([user_id] * len(all_movie_ids), dtype=torch.long).to(device)
    movie_tensor = torch.tensor(all_movie_ids, dtype=torch.long).to(device)

    with torch.no_grad():
        predictions = model(user_tensor, movie_tensor).squeeze(1)

    predictions = predictions.cpu().numpy()
    movie_predictions = list(zip(all_movie_ids, predictions))
    movie_predictions.sort(key=lambda x: x[1], reverse=True)

    top_movies = movie_predictions[:top_k]
    top_movie_ids = [movie_id for movie_id, _ in top_movies]
    top_movie_scores = [score for _, score in top_movies]

    user_details = df_users[df_users['user_id'] == user_id + 1].to_dict('records')[0]
    recommended_movies = []
    for movie_id, score in zip(top_movie_ids, top_movie_scores):
        movie_details = df_movies[df_movies['movie id'] == movie_id + 1].to_dict('records')
        if movie_details:
            recommended_movies.append({
                'movie_details': movie_details[0],
                'score': score
            })

    return {
        'user_details': user_details,
        'recommendations': recommended_movies
    }

In [95]:
# Example usage
sample_user_id = 186
sample_user_id = sample_user_id - 1 
top_k = 5
recommendations = recommend_movies_for_user_with_details(model, sample_user_id, df_users, df_items, top_k=top_k)

print(f"Top {top_k} recommended movies for user {recommendations['user_details']['user_id']}:")
for i, movie_rec in enumerate(recommendations['recommendations'], 1):
    print(f"{i}. {movie_rec['movie_details']['movie title']} (Score: {movie_rec['score']:.2f}) ( genre : {movie_rec['movie_details']['genres'] }) ")

Top 5 recommended movies for user 186:
1. Star Wars (1977) (Score: 5.00) ( genre : Action, Adventure, Romance, Sci-Fi, War)
2. Innocents, The (1961) (Score: 5.00) ( genre : Thriller)
3. Shawshank Redemption, The (1994) (Score: 4.94) ( genre : Drama)
4. Saint of Fort Washington, The (1993) (Score: 4.77) ( genre : Drama)
5. Air Force One (1997) (Score: 4.64) ( genre : Action, Thriller)

In [112]:
# user past behaviour

In [113]:

def get_df(df_ratings,sample_user_id):
    user_ratings = df_ratings[df_ratings["user_id"] == sample_user_id + 1]
    # Merge with movie data to get genres
    user_ratings_with_genres = pd.merge(user_ratings, df_items, left_on='item_id', right_on='movie id', how='left')

    # Sort by rating in descending order
    sorted_user_ratings_with_genres = user_ratings_with_genres.sort_values('rating', ascending=False)

    # Display the result
    sorted_user_ratings_with_genres.head(50)
    return sorted_user_ratings_with_genres[["item_id","movie title","genres","rating"]]

In [114]:
sorted_user_ratings_with_genres = get_df(df_ratings,sample_user_id+1)

In [115]:
sorted_user_ratings_with_genres.head(50)

,item_id,movie title,genres,rating
0,64,"Shawshank Redemption, The (1994)",Drama,5
15,275,Sense and Sensibility (1995),"Drama, Romance",5
50,137,Big Night (1996),Drama,5
49,173,"Princess Bride, The (1987)","Action, Adventure, Comedy, Romance",5
48,707,Enchanted April (1991),Drama,5
44,83,Much Ado About Nothing (1993),"Comedy, Romance",5
40,462,Like Water For Chocolate (Como agua para choco...,"Drama, Romance",5
39,8,Babe (1995),"Children's, Comedy, Drama",5
36,179,"Clockwork Orange, A (1971)",Sci-Fi,5
32,168,Monty Python and the Holy Grail (1974),Comedy,5
31,660,Fried Green Tomatoes (1991),Drama,5
29,216,When Harry Met Sally... (1989),"Comedy, Romance",5
27,65,What's Eating Gilbert Grape (1993),"Comedy, Drama",5
25,651,Glory (1989),"Action, Drama, War",5
18,191,Amadeus (1984),"Drama, Mystery",5
55,694,Persuasion (1995),Romance,5
8,427,To Kill a Mockingbird (1962),Drama,5
5,116,Cold Comfort Farm (1995),Comedy,5
10,792,Bullets Over Broadway (1994),Comedy,5
11,659,Arsenic and Old Lace (1944),"Comedy, Mystery, Thriller",5
37,423,E.T. the Extra-Terrestrial (1982),"Children's, Drama, Fantasy, Sci-Fi",4
38,23,Taxi Driver (1976),"Drama, Thriller",4
7,70,Four Weddings and a Funeral (1994),"Comedy, Romance",4
42,209,This Is Spinal Tap (1984),"Comedy, Drama, Musical",4
45,186,"Blues Brothers, The (1980)","Action, Comedy, Musical",4
34,69,Forrest Gump (1994),"Comedy, Romance, War",4
46,435,Butch Cassidy and the Sundance Kid (1969),"Action, Comedy, Western",4
47,300,Air Force One (1997),"Action, Thriller",4
2,135,2001: A Space Odyssey (1968),"Drama, Mystery, Sci-Fi, Thriller",4
51,52,"Madness of King George, The (1994)",Drama,4
52,710,Better Off Dead... (1985),Comedy,4
53,1065,Koyaanisqatsi (1983),"Documentary, War",4
35,736,Shadowlands (1993),"Drama, Romance",4
16,196,Dead Poets Society (1989),Drama,4
33,213,"Room with a View, A (1986)","Drama, Romance",4
26,214,Pink Floyd - The Wall (1982),"Drama, Musical, War",4
20,433,Heathers (1989),Comedy,4
22,735,Philadelphia (1993),Drama,4
9,28,Apollo 13 (1995),"Action, Drama, Thriller",4
13,86,"Remains of the Day, The (1993)",Drama,4
28,197,"Graduate, The (1967)","Drama, Romance",4
12,747,Benny & Joon (1993),"Comedy, Romance",4
1,210,Indiana Jones and the Last Crusade (1989),"Action, Adventure",4
30,428,Harold and Maude (1971),Comedy,4
41,134,Citizen Kane (1941),Drama,3
6,732,Dave (1993),"Comedy, Romance",3
43,241,"Last of the Mohicans, The (1992)","Action, Romance, War",3
23,663,Being There (1979),Comedy,3
4,523,Cool Hand Luke (1967),"Comedy, Drama",3
3,215,Field of Dreams (1989),Drama,3

,user_id,item_id,rating,timestamp,movie id,movie title,release date,video release date,IMDb URL,genres
0,187,64,5,879465631,64,"Shawshank Redemption, The (1994)",01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Shawshank%20R...,Drama
15,187,275,5,879465937,275,Sense and Sensibility (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Sense%20and%2...,"Drama, Romance"
50,187,137,5,879464895,137,Big Night (1996),20-Sep-1996,NaN,http://us.imdb.com/M/title-exact?Big%20Night%2...,Drama
49,187,173,5,879465307,173,"Princess Bride, The (1987)",01-Jan-1987,NaN,http://us.imdb.com/M/title-exact?Princess%20Br...,"Action, Adventure, Comedy, Romance"
48,187,707,5,879465882,707,Enchanted April (1991),01-Jan-1991,NaN,http://us.imdb.com/M/title-exact?Enchanted%20A...,Drama
44,187,83,5,879465274,83,Much Ado About Nothing (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Much%20Ado%20...,"Comedy, Romance"
40,187,462,5,879466062,462,Like Water For Chocolate (Como agua para choco...,01-Jan-1992,NaN,http://us.imdb.com/M/title-exact?Como%20agua%2...,"Drama, Romance"
39,187,8,5,879465273,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),"Children's, Comedy, Drama"
36,187,179,5,879465782,179,"Clockwork Orange, A (1971)",01-Jan-1971,NaN,http://us.imdb.com/M/title-exact?Clockwork%20O...,Sci-Fi
32,187,168,5,879465273,168,Monty Python and the Holy Grail (1974),01-Jan-1974,NaN,http://us.imdb.com/M/title-exact?Monty%20Pytho...,Comedy
31,187,660,5,879465744,660,Fried Green Tomatoes (1991),01-Jan-1991,NaN,http://us.imdb.com/M/title-exact?Fried%20Green...,Drama
29,187,216,5,879465394,216,When Harry Met Sally... (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?When%20Harry%...,"Comedy, Romance"
27,187,65,5,879465507,65,What's Eating Gilbert Grape (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?What's%20Eati...,"Comedy, Drama"
25,187,651,5,879465566,651,Glory (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Glory%20(1989),"Action, Drama, War"
18,187,191,5,879465566,191,Amadeus (1984),01-Jan-1984,NaN,http://us.imdb.com/M/title-exact?Amadeus%20(1984),"Drama, Mystery"
55,187,694,5,879465532,694,Persuasion (1995),25-Sep-1995,NaN,http://us.imdb.com/Title?Persuasion+(1995/I),Romance
8,187,427,5,879465597,427,To Kill a Mockingbird (1962),01-Jan-1962,NaN,http://us.imdb.com/M/title-exact?To%20Kill%20a...,Drama
5,187,116,5,879464978,116,Cold Comfort Farm (1995),23-Apr-1996,NaN,http://us.imdb.com/M/title-exact?Cold%20Comfor...,Comedy
10,187,792,5,879465340,792,Bullets Over Broadway (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Bullets%20Ove...,Comedy
11,187,659,5,879465274,659,Arsenic and Old Lace (1944),01-Jan-1944,NaN,http://us.imdb.com/M/title-exact?Arsenic%20and...,"Comedy, Mystery, Thriller"
37,187,423,4,879465745,423,E.T. the Extra-Terrestrial (1982),01-Jan-1982,NaN,http://us.imdb.com/M/title-exact?E%2ET%2E%20th...,"Children's, Drama, Fantasy, Sci-Fi"
38,187,23,4,879465631,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,"Drama, Thriller"
7,187,70,4,879465394,70,Four Weddings and a Funeral (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Four%20Weddin...,"Comedy, Romance"
42,187,209,4,879465370,209,This Is Spinal Tap (1984),01-Jan-1984,NaN,http://us.imdb.com/M/title-exact?This%20Is%20S...,"Comedy, Drama, Musical"
45,187,186,4,879465308,186,"Blues Brothers, The (1980)",01-Jan-1980,NaN,http://us.imdb.com/M/title-exact?Blues%20Broth...,"Action, Comedy, Musical"
34,187,69,4,879465566,69,Forrest Gump (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Forrest%20Gum...,"Comedy, Romance, War"
46,187,435,4,879465242,435,Butch Cassidy and the Sundance Kid (1969),01-Jan-1969,NaN,http://us.imdb.com/M/title-exact?Butch%20Cassi...,"Action, Comedy, Western"
47,187,300,4,879464783,300,Air Force One (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Air+Force+One...,"Action, Thriller"
2,187,135,4,879465653,135,2001: A Space Odyssey (1968),01-Jan-1968,NaN,http://us.imdb.com/M/title-exact?2001:%20A%20S...,"Drama, Mystery, Sci-Fi, Thriller"
51,187,52,4,879465683,52,"Madness of King George, The (1994)",01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Madness%20of%...,Drama
52,187,710,4,879465242,710,Better Off Dead... (1985),01-Jan-1985,NaN,http://us.imdb.com/Title?Better+Off+Dead...+(1...,Comedy
53,187,1065,4,879465717,1065,Koyaanisqatsi (1983),01-Jan-1983,NaN,http://us.imdb.com/M/title-exact?Koyaanisqatsi...,"Documentary, War"
35,187,736,4,879465632,736,Shadowlands (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Shadowlands%2...,"Drama, Romance"
16,187,196,4,879465507,196,Dead Poets Society (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Dead%20Poets%...,Drama
33,187,213,4,879465858,213,"Room with a View, A (1986)",01-Jan-1986,NaN,http://us.imdb.com/M/title-exact?Room%20with%2...,"Drama, Romance"
26,187,214,4,879465632,214,Pink Floyd - The Wall (1982),01-Jan-1982,NaN,http://us.imdb.com/M/title-exact?Pink%20Floyd%...,"Drama, Musical, War"
20,187,433,4,879465242,433,Heathers (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Heathers%20(1...,Comedy
22,187,735,4,879465532,735,Philadelphia (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Philadelphia%...,Drama
9,187,28,4,879465597,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,"Action, Drama, Thriller"
13,187,86,4,879465478,86,"Remains of the Day, The (1993)",01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Remains%20of%...,Drama
28,187,197,4,879465597,197,"Graduate, The (1967)",01-Jan-1967,NaN,"http://us.imdb.com/M/title-exact?Graduate,%20T...","Drama, Romance"
12,187,747,4,879465882,747,Benny & Joon (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Benny%20&%20J...,"Comedy, Romance"
1,187,210,4,879465242,210,Indiana Jones and the Last Crusade (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Indiana%20Jon...,"Action, Adventure"
30,187,428,4,879465308,428,Harold and Maude (1971),01-Jan-1971,NaN,http://us.imdb.com/M/title-exact?Harold%20and%...,Comedy
41,187,134,3,879465079,134,Citizen Kane (1941),01-Jan-1941,NaN,http://us.imdb.com/M/title-exact?Citizen%20Kan...,Drama
6,187,732,3,879465419,732,Dave (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Dave%20(1993),"Comedy, Romance"
43,187,241,3,879465858,241,"Last of the Mohicans, The (1992)",01-Jan-1992,NaN,http://us.imdb.com/M/title-exact?Last%20of%20t...,"Action, Romance, War"
23,187,663,3,879465242,663,Being There (1979),01-Jan-1979,NaN,http://us.imdb.com/M/title-exact?Being%20There...,Comedy
4,187,523,3,879465125,523,Cool Hand Luke (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Cool%20Hand%2...,"Comedy, Drama"
3,187,215,3,879465805,215,Field of Dreams (1989),01-Jan-1989,NaN,http://us.imdb.com/M/title-exact?Field%20of%20...,Drama
21,187,1119,3,879465683,1119,Some Kind of Wonderful (1987),01-Jan-1987,NaN,http://us.imdb.com/M/title-exact?Some%20Kind%2...,"Drama, Romance"
17,187,522,3,879465125,522,Down by Law (1986),01-Jan-1986,NaN,http://us.imdb.com/M/title-exact?Down%20by%20L...,"Comedy, Drama"
24,187,97,3,879465717,97,Dances with Wolves (1990),01-Jan-1990,NaN,http://us.imdb.com/M/title-exact?Dances%20with...,"Adventure, Drama, Western"
14,187,175,2,879465241,175,Brazil (1985),01-Jan-1985,NaN,http://us.imdb.com/M/title-exact?Brazil%20(1985),Sci-Fi
54,187,204,2,879465370,204,Back to the Future (1985),01-Jan-1985,NaN,http://us.imdb.com/M/title-exact?Back%20to%20t...,"Comedy, Sci-Fi"
19,187,582,1,879465683,582,"Piano, The (1993)",01-Jan-1993,NaN,"http://us.imdb.com/M/title-exact?Piano,%20The%...","Drama, Romance"

In [39]:
# recommendations["recommendations"]